
/* This selector overrides the points style on line charts. 
Points on line charts are actually just very short strokes. 
This allows you to customize even the point size in CSS */

.ct-pression-chart .ct-grid,
.ct-temp-chart .ct-grid,
.ct-sun-chart .ct-grid,
.ct-precipitation-chart .ct-grid,
.ct-wind-chart .ct-grid, {
    stroke: rgba(0, 0, 0, 0.1);
    stroke-dasharray: none;
}

.ct-temp-chart .ct-series-a {

    .ct-area {
        fill: $red;
        fill-opacity: 0.1;
    }

    .ct-line {
        stroke: $red;
        stroke-width: 2px;
    }

}

.ct-pression-chart .ct-series-a {

    .ct-area {
        fill: $orange;
        fill-opacity: 0.1;
    }

    .ct-line {
        stroke: $orange;
        stroke-width: 2px;
    }

}

.ct-wind-chart {
    .ct-series-a {

        .ct-area {
            fill: $black-55;
            fill-opacity: 0.1;
        }

        .ct-line {
            stroke: $black-55;
            stroke-width: 2px;
        }
    }
    .ct-series-b {

        .ct-area {
            fill: transparent;
            fill-opacity: 0;
        }

        .ct-line {
            stroke: $red;
            stroke-width: 2px;
        }
    }
}

.ct-precipitation-chart {

    .ct-bar {
        stroke: $light-blue;
        stroke-width: 7px;
    }
}

.ct-sun-chart {

    .ct-bar {
        stroke: $yellow;
        stroke-width: 7px;
    }
}


