/*
 * Declare all color variables
 */

$red:                   rgb(202, 42, 39);
$black:                 rgb(0, 0, 0);
$primary-grey:          rgb(115, 115, 115);
$light-grey:            rgb(153, 153, 153);

