/*
  Transition for graphic slider
 */

.slider-container {
  position: relative;
}


.slider-animation {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
  
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.slider-animation {
  opacity: 0; // 0
}

.slider-animation.enabled {
  opacity: 1;
}

.slider-animation.enabled-add {
  -webkit-animation:1s enable-on;
  animation:1s enable-on;
}

.slider-animation.enabled-remove {
  -webkit-animation:1s enable-off;
  animation:1s enable-off;
}

@keyframes enable-on {
  from {
    opacity: 0; // 0
  }
  to {
    opacity: 1;
  }
}

@keyframes enable-off {
  from {
    opacity: 1;
  }
  to {
    opacity: 0; // 0
  }
}
