/*!
  This CSS resource incorporates links to font software which is the valuable copyrighted 
  property of Monotype and/or its suppliers. You may not attempt to copy, install, redistribute, 
  convert, modify or reverse engineer this font software. Please contact Monotype with any 
  questions regarding Web Fonts:  https://www.linotype.com
  */

@import 'typography';

@import 'colors';

@import 'grid';

// bower:scss
// endbower

* {
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  clear: both;
  
  font-size: 1em;
  font-family: $primary-font;
}


.test-color {
  background: rgb(240, 240, 240);
}


/*
  Header
 */
$header-bottom-padding:   10px;

.header {
  border-bottom: 3px solid $red;
}

.date {
  display: flex;
  align-items: flex-end;
  padding-bottom: $header-bottom-padding;

  .hour {
    color: $red;
    font-size: 3.5em;
    margin: 0;
  }

  .day {
    color: $black-55;
    margin: 0;
    font-size: 2em;

    font-family: $light-font;
    text-transform: capitalize;
  }
}


.title { 
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: $header-bottom-padding;

  font-family: $light-font;
  
  .row {
    display: block;
    text-align: center;

    .name {
      width: auto;
      display: inline-block;
      margin: 0;
  
      font-size: 3.5em;
      color: $black;
    }

    .altitude {
      display: inline-block;

      color: $black-55;
    }
  }
}

.swiss-met-net { 
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: $header-bottom-padding;
  text-align: right;

  .logo {
    // TODO
    color: $red;
    font-family: $bold-font;
    font-size: 3.5em;
    margin: 0;
  }

  .station {
    color: $black-55;
    font-family: $light-font;
    margin: 0;
    font-size: 2em;

    .strong {
      font-family: $bold-font;
    }
  }

}


/*
 Directives
 */

.item {
  border-left: 3px solid $black-10;
}

.directive-title {
  font-size: 1.3em;
}

.sub-title {
  font-size: 1.3em;
}

.single-temp {
  @extend .item;
  color: $black-40;
  font-family: $light-font;
  padding: 10px;

  #termometer {
    width: 25%;
  }

  .h24 {
    width: 20%;
    vertical-align: middle;
    margin-right: 5px;

    .hour-color {
     fill: $orange;
    } 
  }
  

  .value {
    font-size: 18em;
    color: $black-55;
    font-family: $primary-font;
    text-align: center;
    line-height: 0.65em;

    letter-spacing: -0.07em;
    
    &::after {
      content: '°C';
      color: $black-25;
      font-size: 0.3em;
      line-height: 1em;
      vertical-align: text-top;

      letter-spacing: 0;
      padding-left: 9px;
    }
  }

  .meta-data {
    text-align: center;

    .sub-title {
      line-height: 2.8em;
    }

    .value {
      font-size: 5em;
      color: $black-55;
      font-family: $primary-font;

      &::after {
        font-size: 0.3em;
        color: $black-40;
      }
    }
  }
}

.single-wind {
  @extend .item;
  color: $black-40;
  font-family: $light-font;
  padding: 10px;

  #complete-dial {
    max-width: 100%;
    max-height: 100%;
  }

  // .dial-group {transform: rotate(45deg);
  //   transform-origin: 50% 50% 0px;
  // }

  .dial {
    width: 100%;
    height: 100%;
    position: relative;

    // background: url('../images/complete_dial.svg') center center;
    // background-repeat: no-repeat;
    // background-size: contain;

    .mask {
      width: 100%;
      height: 100%;
      position: absolute;
      
      text-align: center;
    }

    // #wind-direction {
    //   transition: transform 1s;
    // }
  }
}



