/*!
  This CSS resource incorporates links to font software which is the valuable copyrighted 
  property of Monotype and/or its suppliers. You may not attempt to copy, install, redistribute, 
  convert, modify or reverse engineer this font software. Please contact Monotype with any 
  questions regarding Web Fonts:  https://www.linotype.com
  */

@import 'typography';

@import 'colors';

@import 'grid';

@import 'chart';

@import 'transitions';

// bower:scss
// endbower

* {
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  clear: both;
  
  font-size: 1em;
  font-family: $primary-font;
}


.test-color {
  background: rgb(240, 240, 240);
}


/*
  Header
 */
$header-padding:   10px 15px;

.header {
  border-bottom: 3px solid $red;
}

.date {
  display: flex;
  align-items: flex-end;
  padding: $header-padding;

  .hour {
    color: $red;
    margin: 0;
  }

  .day {
    color: $black-55;
    margin: 0;

    font-family: $light-font;
  }

  .day:first-letter {
    text-transform: uppercase;
  }
}


.title { 
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: $header-padding;

  font-family: $light-font;
  
  .row {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    .baseline-container {
      display: flex;
      align-items: baseline;

    }

    .name {
      width: auto;
      display: inline-block;
      margin: 0;
      
      font-family: $light-font;
      color: $black;

      margin-right: 0.5vw;
    }

    .altitude {
      display: flex;
      align-items: baseline;

      color: $black-55;
  
      svg {
        margin-right: 5px;
      }
    }
  }
}

.swiss-met-net { 
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: $header-padding;
  text-align: right;

  .logo {
    color: $red;
    font-family: $bold-font;
    margin: 0;
  }

  .station {
    color: $black-55;
    font-family: $light-font;
    margin: 0;

    .strong {
      font-family: $bold-font;
    }
  }

}


/*
  Error
 */

.error-container {
  width: 100vw;
  height: 100vh;

  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  .center-cloudy {
    text-align: center;
  }

  .cloudy {
    width: 100%;
    margin-bottom: 6vh;

    svg {
      height: 28vh;
    }
  }

  .text {
    width: 100%;
    margin-bottom: 6vh;

    color: $black-25;
    font-family: $bold-font;
  }

  .logo-meteo-swiss {
    width: 100%;
    margin-bottom: 10vh;

    img {
      max-height: 3vh;
    }

  }
}


/*
  Home
 */

.home-container {
  width: 100vw;
  height: 100vh;

  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  .center-content {
    width: 100%;
  }

  .home-logo {
    display: flex;
    justify-content: center;

    img {
      width: 20%;
    }
  }
}

/*
 Directives
 */

.item {
  border-left: 3px solid $black-10;
  color: $black-55;
  font-family: $light-font;
  padding: 10px;
}

.single-item {
  position: relative;
}

.directive-title {
  display: flex;
  align-items: center;
}

.numeric-value {
  letter-spacing: -0.04em;
}

/*
 No Data mask
 */

.nodata-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: flex-end;
  align-items: flex-start;


  .flag {
    display: flex;
    align-items: stretch;
    height: 5vh;
    max-width: 56%;

    background: $black-10;
    color: $black-55;
    font-family: $primary-font;

    .no-data-icon {
      height: 100%;

      .no-data-svg {
        height: 100%;
      }
    }

    .no-data-text {
      display: flex;
      align-items: center;
      padding: 10px;
    }
  }
}

.no-data {
  opacity: 0.3;
}

/*
 Single directive
 */

.large-value {
  font-size: 0.8em;
}

.single-temp {
  @extend .item;
  @extend .single-item;

  #termometer {
    width: 50%;
    margin-top: 7px;
  }

  .h24 {
    width: 20%;
    vertical-align: middle;
    margin-right: 5px;

    .hour-color {
     fill: $orange;
    } 
  }
  

  .value {
    color: $black-55;
    font-family: $primary-font;
    text-align: center;
    
    &::after {
      content: '°C';
      color: $black-25;
      vertical-align: text-top;

      letter-spacing: 0;
      padding-left: 3px;
    }
  }

  .meta-data {
    text-align: center;

    .sub-title {
      line-height: 2.8em;
    }

    .value {
      color: $black-55;
      font-family: $primary-font;

      &::after {
        color: $black-40;
      }
    }
  }
}

.single-wind {
  @extend .item;
  @extend .single-item;

  #complete-dial {
    width: 100%;
    height: 100%;
    max-width: calc(96% - 14px);
    max-height: 96%;

    margin-top: 2%;
    margin-left: -14px;
  }

  .dial {
    width: 100%;
    height: 100%;
    position: relative;

    .mask {
      width: 100%;
      height: 100%;
      position: absolute;
      
      text-align: center;
    }
  }

  .label {
  }

  .wind-name {
    display: flex;
    align-items: flex-end;
    justify-content: center;  
  }

  .wind-value {
    font-family: $primary-font;
    color: $black-55;
  }

  .wind-gusts {
    display: flex;
    justify-content: center;
    align-items: baseline;

    box-sizing: border-box;
    padding-top: 5px;

    .wind-gusts-icon {
      height: 100%;
      display: flex;
      align-items: flex-end;

      svg {
        width: auto;
        height: 90%;
      }
    }
    .wind-gusts-value {
      font-family: $primary-font;
      color: $black-55;

      padding: 0 8px 0 8px;
    }

  }

  .wind-gusts-name {
    box-sizing: border-box;
    padding-top: 1vh;
  }

}

.single-precipitation {
  @extend .item;
  @extend .single-item;

  .logo {
    display: inline-block;
    height: 100%;
    margin-left: 8px;
    margin-top: -2px;

    .hour-color {
      fill: $deep-blue;
    }

    svg {
      width: auto;
      height: 100%;
    }
  }

}

.single-humidity {
  .vertical-full-container-midle .small-logo {

    svg {
      width: 45%;
    }
  }
}


.vertical-full-container-midle {
  .small-logo {
    display: flex;
    align-items: center;
    width: 40%;

    svg {
      width: 60%;
    }
    
  }

  .container-value {
    display: flex;
    align-items: center;
    width: 60%;

    .value {
      font-family: $primary-font;
      color: $black-55;
    }

    .unit {
      padding-left: 13px;
    }
  }

  .half-middle {
    text-align: center;
  }
}

.single-humidity {
  @extend .item;
  @extend .single-item;
}

.single-qnh {
  @extend .item;
  @extend .single-item;
}

.single-sun {
  @extend .item;
  @extend .single-item;
}

.smn-display {
  @extend .item;

  .smn-title {
    color: $black-55;
    font-family: $primary-font;

    .smn-code {
      text-transform: uppercase;
    }
  }

  .svg-graphic {
    width: 100%;
  }
}

.graphic-humidity,
.graphic-wind,
.graphic-sun,
.graphic-pression,
.graphic-precipitation,
.graphic-temp {
  @extend .item;

  height: 100%;
  box-sizing: border-box;


  .logo {
    display: inline-block;
    height: 70%;
    margin-left: 10px;
    margin-top: -5px;

    .hour-color {
      fill: $red;
    }

    svg {
      width: auto;
      height: 100%;
    }
  }
}


.graphic-sun,
.graphic-pression {
  .logo .hour-color {
    fill: $orange;
  }
}

.graphic-humidity,
.graphic-precipitation {
  .logo .hour-color {
    fill: $deep-blue;
  }
}

// Landscape mode
@media all and (orientation:landscape) {


  .date {

    .hour {
      font-size: 5.5vh;
      line-height: 1em;
    }

    .day {
      font-size: 3vh;
      width: 150%;
    }
  }

  .title {

    .name {
      font-size: 7vh;
    }

    .altitude {
      #alt-icon {
        height: 1.7vh;
      }

      span {
        font-size: 2.5vh;
      }
      
    }
  }

  .swiss-met-net {

    .logo {
      font-size: 5.5vh;
      line-height: 1em;
    }

    .station {
      font-size: 3vh;
    }
  }

  .error-container {
    .center-cloudy {
      max-width: 40vw;
    }

    .text {
      font-size: 2.1vh;
      line-height: 1.3em;
    }
  }

  .directive-title {
    font-size: 2.2vh;
  }

  .sub-title {
    font-size: 2vh;
  }

  .single-temp {

    .value {
      font-size: 22vh;
      line-height: 0.65em;

      &::after {
        font-size: 0.2em;
        line-height: 1em;
      }
    }

    .meta-data .value {
      font-size: 7vh;

      &::after {
        font-size: 0.25em;
      }
    }
  }

  .single-wind {

    .label {
      font-size: 2vh;
    }

    .wind-value {
      font-size: 12.5vh;
      line-height: 1.2em;
    }

    .wind-gusts-value {
      font-size: 5vh;
      line-height: 0.6em;
    }
    .wind-gusts-unit {
      font-size: 2vh;
      line-height: 0.9em;
    }
  }

  .single-precipitation,
  .single-qnh,
  .single-sun,
  .single-humidity {
    .value {
      font-size: 10vh;
    }

    .unit {
      font-size: 3vh;
    }
  }

  .single-qnh .value {
    font-size: 8vh;
  }

}


// Portrait mode
@media all and (orientation:portrait) {

  .nodata-mask {
    .flag {
      height: 5vw;}
  }

  .date {
    align-items: flex-start;

    .hour {
      font-size: 5.5vw;
      line-height: 1em;
    }

    .day {
      font-size: 2.5vw;
      width: 200%;
    }
  }

  .title .row {

    .baseline-container {
      flex-direction: column-reverse;
      justify-content: center;
    }

    .name {
      align-self: center;
      font-size: 7vw;

      margin-right: 0;
    }

    .altitude {
      align-self: center;

      span {
        font-size: 2.5vw;
      }

      #alt-icon {
        height: 1.7vw;
      }
    }
  }


  .swiss-met-net {
    align-items: flex-start; 

    .logo {
      font-size: 5.5vw;
      line-height: 1em;

      width: 120%;
      float: right;

      &.it {
        width: 128%;
      }
    }

    .station {
      font-size: 2.5vw;
      width: 200%;
      float: right;
    }
  }


  .error-container {


    .cloudy {
      margin-bottom: 3vh;

      svg {
        height: 14vh;
      }
    }


    .center-cloudy {
      max-width: 80vw;
    }

    .text {
      font-size: 1.4vh;
      line-height: 1.3em;
    }

    .logo-meteo-swiss {

      img {
        max-height: 3vw;
      }

    }
  }


  .directive-title {
    font-size: 2.2vw;
  }

  .sub-title {
    font-size: 2vw;
  }

  /*
   Directives
  */
  .single-temp {

    .value {
      font-size: 22vw;
      line-height: 0.65em;

      &::after {
        font-size: 0.2em;
        line-height: 1em;
      }
    }

    .meta-data .value {
      font-size: 7.5vw;

      &::after {
        font-size: 0.25em;
      }
    }

  }

  .single-wind {

    .label {
      font-size: 2vw;
    }

    .wind-value {
      font-size: 11vw;
      line-height: 1.2em;
    }

    .wind-gusts-value {
      font-size: 4vw;
      line-height: 0.6em;
    }
    .wind-gusts-unit {
      font-size: 2vw;
      line-height: 0.9em;
    }
  }


  .single-precipitation,
  .single-qnh,
  .single-sun,
  .single-humidity {
    .value {
      font-size: 10vw;
    }

    .unit {
      font-size: 3vw;
    }
  }

  .single-qnh .value {
    font-size: 8vw;
  }
}



