<div class="land-horizontal-8of8 land-vertical-1of8 gutter-left gutter-top gutter-right port-horizontal-4of4 port-vertical-2of16">
  <div class="land-horizontal-2of8 land-vertical-1of8 gutter-left port-horizontal-1of4 port-vertical-2of16 swiss-met-net">
          <h2 class="logo" ng-class="{'it': lang === 'it'}">
              <img ng-src="{{ 'logo_url' | translate }}" alt="{{ 'swiss_meteo' | translate }}">
          </h2>
  </div>
    <div class="land-horizontal-5of8 land-vertical-1of8 gutter-left port-horizontal-2of4 port-vertical-2of16 title">
        <div class="row">
        </div>
    </div>
    <div class="land-horizontal-1of8 land-vertical-1of8 port-horizontal-1of4 port-vertical-2of16 date">
        <div class="row">
            <div class="logo-meteo-swiss"><img ng-src="{{ 'logo_light_url' | translate }}" alt="{{ 'swiss_meteo' | translate }}"></div>
        </div>
    </div>

</div>
<div class="error-container gutter-left gutter-right">
    <div class="left-cloudy">
        <div class="text title">{{ 'error_title' | translate }}</div>
        <div class="text">{{ 'error_message' | translate }}</div>
    </div>
</div>
