<div class="land-horizontal-8of8 land-vertical-1of8 gutter-left gutter-top gutter-right port-horizontal-4of4 port-vertical-2of16 header">
    <div class="land-horizontal-2of8 land-vertical-1of8 port-horizontal-1of4 port-vertical-2of16 date">
        <div>
            <h2 class="hour">{{ profile.updateDate | date : 'HH:mm' }}</h2>
            <h3 class="day">{{ profile.updateDate | date : 'fullDate' }}</h3>
        </div>
    </div>
    <div class="land-horizontal-4of8 land-vertical-1of8 gutter-left port-horizontal-2of4 port-vertical-2of16 title">
        <div class="row">
            <div class="baseline-container">
                <h1 class="name">{{ profile.name }}</h1>
                <div class="altitude">
                    <svg id="alt-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25.8 18.77">
                      <defs>
                        <style>
                          .altitude-a{fill:#999;}.altitude-b{fill:#bfbfbf;}
                        </style>
                      </defs>
                      <path class="altitude-a" d="M8.33 2.84L0 18.77h17.32L8.33 2.84"></path>
                      <path class="altitude-b" d="M18.84 18.07l.39.7h6.57L15.21 0l-3.15 6.03 6.78 12.04"></path>
                    </svg>
                    <span>{{ profile.altitude }}m</span>
                </div>
            </div>
        </div>
    </div>
    <div class="land-horizontal-2of8 land-vertical-1of8 gutter-left port-horizontal-1of4 port-vertical-2of16 swiss-met-net">
        <div>
            <h2 class="logo">{{ 'swiss_meteo' | translate }}</h2>
            <h3 class="station">{{ 'station' | translate }} <span class="strong">{{ 'swiss_met_net' | translate }}</span></h3>
        </div>
    </div>
</div>
<div class="land-horizontal-4of8 land-vertical-4of8 gutter-left gutter-top port-horizontal-4of4 port-vertical-4of16 first-content">
    <!-- start list of first content directive -->
    
    <single-temp ng-show="displays.singleTemp" class="land-horizontal-2of8 land-vertical-4of8 port-horizontal-2of4 port-vertical-4of16 single-temp"></single-temp>
    <single-wind ng-show="displays.singleWind" class="land-horizontal-2of8 land-vertical-4of8 gutter-left port-horizontal-2of4 port-vertical-4of16 single-wind"></single-wind>
    
    <!-- end list of first content directive -->
</div>
<div class="land-horizontal-4of8 land-vertical-4of8 gutter-left gutter-top port-horizontal-4of4 port-vertical-4of16 second-content">
    <!-- start list of second content directive -->
    
    <single-precipitation ng-show="displays.singlePrecipitation" 
        class="land-horizontal-2of8 land-vertical-2of8 port-horizontal-2of4 port-vertical-2of16 single-precipitation"></single-precipitation>

    <single-humidity ng-show="displays.singleHumidity" 
        ng-class="[{'gutter-left': position.singleHumidity%2==0}]" 
        class="land-horizontal-2of8 land-vertical-2of8 port-horizontal-2of4 port-vertical-2of16 single-humidity"></single-humidity>

    <single-qnh ng-show="displays.singleQnh" 
        ng-class="[{'gutter-top': position.singleQnh>2},{'gutter-left': position.singleQnh%2==0}]" 
        class="land-horizontal-2of8 land-vertical-2of8 port-horizontal-2of4 port-vertical-2of16 single-qnh"></single-qnh>

    <single-sun ng-show="displays.singleSun" 
        ng-class="[{'gutter-top': position.singleSun>2},{'gutter-left': position.singleSun%2==0}]" 
        class="land-horizontal-2of8 land-vertical-2of8 port-horizontal-2of4 port-vertical-2of16 single-sun"></single-sun>
    
    <!-- end list of second content directive -->
</div>
<div class="land-horizontal-8of8 land-vertical-3of8 gutter-left port-horizontal-4of4 port-vertical-6of16 gutter-top second-content">

    <div ng-controller="GraphicsliderCtrl" class="land-horizontal-4of8 land-vertical-3of8 port-horizontal-4of4 port-vertical-3of16 slider-container test-color">
        <div ng-animate-swap="f1" class="fake-directive swap-animation f1">directive 1</div>
        <div ng-animate-swap="f2" class="fake-directive swap-animation f2">directive 2</div>
        <div ng-animate-swap="f3" class="fake-directive swap-animation f3">directive 3</div>
    </div>


    <graphic-temp class="land-horizontal-4of8 land-vertical-3of8 port-horizontal-4of4 port-vertical-3of16 land-gutter-left port-gutter-top test-color"></graphic-temp>
    
</div>
