<div>
    <div class="directive-title all-height-1of12">{{ 'temp_name'| translate }}</div>
    <div class="vertical-container-midle all-height-7of12">
        <div class="value">{{ temp }}</div>
    </div>
    <div class="meta-data vertical-container-midle fluid-container all-height-4of12">
        <div class="all-1of3">

        <img id="termometer" src="images/temp.svg">

        </div>
        <div class="all-1of3">
            <div class="all-height-4of12 sub-title">

                <img class="h24" src="images/h24.svg">

                <span>min</span>
            </div>
            <div class="value min-value all-height-8of12">{{ tempMin }}</div>
        </div>
        <div class="all-1of3">
            <div class="all-height-4of12 sub-title">

                <img class="h24" src="images/h24.svg">

                <span>max</span>
            </div>
            <div class="value max-value all-height-8of12">{{ tempMax }}</div>
        </div>
    </div>
</div>